.counter {
    width: 150px;
    height: 48px;
    border: 1px solid #888;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    &__controller {
        display: inline-block;
        width: 28px;
        height: 28px;
        text-align: center;
        font-size: 24px;
        color: #888;
        cursor: pointer;
        background: none;
        transition: color 0.3s ease;

        &:hover { color: #444; }
    }

    &__value {
        width: calc(100% - 80px);
        height: 100%;
        text-align: center;
        font-size: 24px;
        color: #888;
        border: none;
    }
}
